// html,
// body {
//     height: 100%;
//     margin: 0;
//     padding: 0;
//     width: 100vw;
//     // background-color: $dark-bg-subtle;
//     background-color: #ced4da;
// }

.pong-navigation {
    height: auto;
    max-height: 15vh;
    min-width: 100vw;
    max-width: 100vw;
    position: fixed;
    z-index: 20;
    padding: 0.5em 0.5em calc(0.5em + env(safe-area-inset-bottom)) 0.5em;

    @media (min-width: 577px) {
        top: 0;
        left: 0;
        right: 0;
    }

    @media (max-width: 576px) {
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.pong-content {
    padding: 0; // Standard padding für kleine Bildschirme
    transition: padding 0.3s ease;
    width: 100%;
    min-height: 100vh;
    height: auto;

    @media (min-width: 577px) {
        padding-top: 4em; // Anpassung des Abstands, um Überlappungen mit der oberen Navigation zu vermeiden
        padding-bottom: 1em;
    }

    @media (max-width: 576px) {
        padding-bottom: calc(
            5em + env(safe-area-inset-bottom)
        ); // Anpassung des Abstands, um Überlappungen mit der unteren Navigation zu vermeiden
    }
}

.profile-grid {
    display: grid;
    gap: 10px;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    grid-template-areas:
        'ph'
        'a'
        'b'
        'c'
        'd'
        'e';
    @media (min-width: 577px) {
        grid-template:
            'ph ph ph' minmax(min-content, auto)
            'a a e' minmax(min-content, auto)
            'b b e' minmax(min-content, auto)
            'c c e' minmax(min-content, auto)
            'd d e' minmax(min-content, auto)
            '. . e' minmax(min-content, auto)
            / 1fr 1fr 60vw;
    }
    @media (min-width: 800px) {
        grid-template:
            'ph ph ph' minmax(min-content, auto)
            'a b e' minmax(min-content, auto)
            'c c e' minmax(min-content, auto)
            'd d e' minmax(min-content, auto)
            '. . e' minmax(min-content, auto)
            / 1fr 1fr 50vw;
    }
    @media (min-width: 1200px) {
        grid-template:
            'ph  a    c    c' minmax(min-content, auto)
            'ph  b    c    c' minmax(min-content, auto)
            'ph  e    e    e' minmax(min-content, auto)
            'd   e    e    e' minmax(min-content, auto)
            'd   e    e    e' minmax(min-content, auto)
            '.   e    e    e' minmax(min-content, auto)
            / 30vw 1fr 1fr 1fr;
    }
}

.profile-grid-item-header {
    grid-area: ph;
}

.profile-header-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    @media (min-width: 577px) and (max-width: 1199px) {
        flex-direction: row;
    }
}

.profile-header-text {
    // d-flex flex-column ms-3 align-items-${window.innerWidth > 576 ? 'start' : 'center'}  justify-content-between
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @media (min-width: 577px) and (max-width: 1199px) {
        align-items: start;
    }
}

.profile-grid-item-a {
    grid-area: a;
}
.profile-grid-item-b {
    grid-area: b;
}
.profile-grid-item-c {
    grid-area: c;
}
.profile-grid-item-d {
    grid-area: d;
}
.profile-grid-item-e {
    grid-area: e;
}

.tournament-grid {
    display: grid;
    gap: 10px;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    grid-template-areas:
        'te'
        'ta'
        'tb'
        'tc'
        'td';
    @media (min-width: 500px) {
        grid-template:
            'te te' minmax(min-content, auto)
            'ta tb' minmax(min-content, auto)
            'td td' minmax(min-content, auto)
            'tc tc' minmax(min-content, auto)
            / 1fr 1fr;
    }
    @media (min-width: 800px) {
        grid-template:
            'te te td' minmax(min-content, auto)
            'ta tb td' minmax(min-content, auto)
            'tc tc td' minmax(min-content, auto)
            / 1fr 1fr 40vw;
    }
    // @media (min-width: 1200px) {
    //     grid-template:
    //         'ta    tc    tc' minmax(min-content, auto)
    //         'tb    tc    tc' minmax(min-content, auto)
    //         'te    te    te' minmax(min-content, auto)
    //         'te    te    te' minmax(min-content, auto)
    //         'te    te    te' minmax(min-content, auto)
    //         'te    te    te' minmax(min-content, auto)
    //         / 1fr 1fr 1fr;
    // }
}

.tournament-bracket-container {
    display: flex;
    flex-direction: column;
    @media (min-width: 500px) {
        flex-direction: row;
    }
    justify-content: stretch;
}

.tournament-grid-item-a {
    grid-area: ta;
}
.tournament-grid-item-b {
    grid-area: tb;
}
.tournament-grid-item-c {
    grid-area: tc;
}
.tournament-grid-item-d {
    grid-area: td;
}
.tournament-grid-item-e {
    grid-area: te;
}

.startpage-grid {
    display: grid;
    gap: 10px;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    grid-template-areas:
        'ta'
        'tb'
        'tc'
        'td';
    @media (min-width: 1200px) {
        grid-template:
            'ta ta' minmax(min-content, auto)
            'tb tc' minmax(min-content, auto)
            'td td' minmax(min-content, auto)
            / 1fr 1fr;
    }

    // @media (min-width: 1200px) {
    //     grid-template:
    //         'ta    tc    tc' minmax(min-content, auto)
    //         'tb    tc    tc' minmax(min-content, auto)
    //         'te    te    te' minmax(min-content, auto)
    //         'te    te    te' minmax(min-content, auto)
    //         'te    te    te' minmax(min-content, auto)
    //         'te    te    te' minmax(min-content, auto)
    //         / 1fr 1fr 1fr;
    // }
}

.startpage-grid-item-a {
    grid-area: ta;
}
.startpage-grid-item-b {
    grid-area: tb;
}
.startpage-grid-item-c {
    grid-area: tc;
}
.startpage-grid-item-d {
    grid-area: td;
}
.startpage-grid-item-e {
    grid-area: te;
}
